* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #fdcc04;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 200px;
    padding: 15px;
}

.topbar {
    background: #fdcc04;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-right: 2rem; /* Added padding-right to create space on the right */
}

.topbar .title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;
}

.lang-menu {
    width: auto;
    text-align: right;
    font-weight: bold;
    margin-left: auto; /* Aligns the menu to the right */
    position: relative;
    display: flex; /* Added to enable flexbox */
    align-items: center; /* Added to vertically center items */
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.lang-menu .selected-lang img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.lang-menu:hover ul,
.lang-menu ul:hover {
    display: block;
}

.hero {
    background: #fdcc04;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    padding: 2rem calc((80vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}
.glow {
    font-size: 80px;
    text-align: center;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s 1s ease-in-out infinite alternate;
  }
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #ffeb99, 0 0 20px #ffeb99, 0 0 30px #ffeb99, 0 0 40px #ffeb99, 0 0 50px #ffeb99, 0 0 60px #ffeb99, 0 0 70px #ffeb99;
    }
    50% {
      text-shadow: 0 0 20px #ffeb99, 0 0 30px #ffcc29, 0 0 40px #ffcc29, 0 0 50px #ffcc29, 0 0 60px #ffcc29, 0 0 70px #ffcc29, 0 0 80px #ffcc29;
    }
    100% {
      text-shadow: 0 0 20px #ffcc29, 0 0 30px #ffcc29, 0 0 40px #ffcc29, 0 0 50px #ffcc29, 0 0 60px #ffcc29, 0 0 70px #ffcc29, 0 0 80px #ffcc29;
    }
  }

.projects-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 10%;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    margin: 10px;
    width: 30%;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card .card-content {
    padding: 35px;
}

.project-card .card-content h3 {
    margin-top: 0;
}
.social-link {
    display: inline-block;
    margin-top: 10px;
}

.social-link i {
    margin-right: 8px;
    color: #000;
}
.centered-heading {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .project-card {
        width: 100%;
    }
}

